.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: #3e6b57;
    border: 3px solid #1c4a50;
    color: #fff;
    border-radius: 10px;
    padding: 7px 20px;
    min-width: 150px;
    font-size: 32px;
    cursor: pointer;
}